<!DOCTYPE html>

<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<link rel ="stylesheet"  th:href= "@{/css/dashboard.css}"> 

<body>
  <nav th:replace="layouts :: adminNavBar"  id="navBarId"></nav>
   
<div class="container">
  
  <div class="col-md-12" style="margin-top: 2vh;">
    <h3 style="text-align: center;"><a th:href="@{/MEDICARE/admin/add-category}" ><button class="btn btn-primary" style="text-align: center;"> Add Category</button></a></h3>

    

          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>S.No</th>
                <!-- <th>Category Id</th> -->
                <th>Category Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              <tr th:each="acategory,iterationStatus:${categoryList}">
                <td th:text=${iterationStatus.count}></td>
                <!-- <td th:text="${acategory.categoryId}" /> -->
                <td th:text="${acategory.categoryName}" />
                <td> 
                  <input type="hidden" th:value="${acategory.categoryId}" id=${acategory.categoryId}>
                  <button class="btn btn-sm btn-outline-danger" th:onclick="'javascript:categoryEdit(' + ${acategory.categoryId} + ');'"> <i class="fas fa-edit"></i></button> 
                  <!-- <div th:if="${}"> -->
                  <!-- <button class="btn btn-sm btn-danger"  th:onclick="'javascript:categoryDelete(' + ${acategory.categoryId} + ');'" > <i class="fas fa-trash"></i></button>  -->
                </div>
          <!-- <a th:href="@{/category/${acategory.categoryId}" class="btn btn-sm btn-outline-danger">Edit</a>
          <a th:href="@{/delete/acategory.categoryId}" class="btn btn-sm btn-danger">Delete</a> -->

                </td>
            

            </tr>

              
            </tbody>

          </table>
</div>
<hr>
<h3 style="text-align: center;"><a th:href="@{/MEDICARE/admin/add-madicine}" id="addProductId" ><button class="btn btn-primary"> Add Product</button></a></h3>
<div class="col-md-12" style="margin-top: 2vh;">
                           <h3 style="text-align: center;">Active Products</h3>
<table class="table table-bordered table-striped">
<thead class="thead-dark">
   <tr>
     <th>S.No</th>
     <!-- <th>Product Id</th> -->
     <th>Product Name</th>
     <th>Brand Name</th>
     <th>Description</th>
     <th>Image</th>
     <th>Actions</th>
   </tr>
</thead>
<tbody>
  <!-- <tr th:each="item,iterationStatus : ${items}">
    <td th:text=${iterationStatus.count}></td>
 </tr> th:style="${iterationStatus.odd}? 'background-color: blue;'"-->

  <tr th:each="aproduct,iterationStatus:${enabledProductList}">
    <td th:text=${iterationStatus.count}></td>
    <!-- <td th:text="${aproduct.productId}" /> -->
    <td th:text="${aproduct.productName}" />
    <td th:text="${aproduct.brandName}" />
    <td th:text="${aproduct.description}" />
    <td ><img type="image/webp"   th:srcset="@{${'/'+aproduct.image}}" alt=" Madicine image" style="height: 100px; width: 100px;" /> </td>
    <td > 
      
      <input type="hidden" th:value="${aproduct.productId}" id="productId">
      <button class="btn btn-sm btn-info" th:onclick="'javascript:productEdit(' + ${aproduct.productId} + ');'"> <i class="fas fa-edit"></i></button>
   
      <button class="btn btn-sm btn-outline-danger" th:onclick="'javascript:productInActivate(' + ${aproduct.productId} + ');'" id="disableId"  > <i class="fas fa-toggle-off" style = "color:red"></i></button> 

      <button class="btn btn-sm btn-danger" th:onclick="'javascript:productDelete(' + ${aproduct.productId} + ');'" id="deleteId"  > <i class="fas fa-trash"></i></button> 
   
      
     
    </td>
 <th:block  />

</tr>

  
</tbody>

</table>
</div>
<hr>
<div class="col-md-12" style="margin-top: 2vh;">
  <!-- <a th:href="@{/admin/add-madicine}"><button class="btn btn-primary"> Add Product</button></a> -->

  <h3 style="text-align: center;">InActive Product List</h3>

<table class="table table-bordered table-striped">
<thead class="thead-dark">
   <tr>
     <th>S.No</th>
     <!-- <th>Product Id</th> -->
     <th>Product Name</th>
     <th>Brand Name</th>
     <th>Description</th>
     <th>Image</th>
     <th>Actions</th>
   </tr>
</thead>
<tbody>
  <!-- <tr th:each="item,iterationStatus : ${items}">
    <td th:text=${iterationStatus.count}></td>
 </tr> th:style="${iterationStatus.odd}? 'background-color: blue;'"-->

  <tr th:each="aproduct1,iterationStatus:${disabledProductList}">
    <td th:text=${iterationStatus.count}></td>
    <!-- <td th:text="${aproduct1.productId}" /> -->
    <td th:text="${aproduct1.productName}" />
    <td th:text="${aproduct1.brandName}" />
    <td th:text="${aproduct1.description}" />
    <td ><img type="image/webp" th:srcset="@{${'/'+aproduct1.image}}" alt=" Madicine image" style="height: 100px; width: 100px;"/> </td>
    <td> 
      <input type="hidden" th:value="${aproduct1.productId}" id="productId">
      <button class="btn btn-sm btn-outline-danger" th:onclick="'javascript:productEdit(' + ${aproduct1.productId} + ');'"> 
        <i class="fas fa-edit"></i></button> 
      <button class="btn btn-sm btn-outline-primary"  th:onclick="'javascript:productActivate(' + ${aproduct1.productId} + ');'" id="enableId"> <i class="fas fa-toggle-on" style = "color:blue"></i></button>
     
      <button class="btn btn-sm btn-danger" th:onclick="'javascript:productDelete(' + ${aproduct1.productId} + ');'" id="deleteId"  > <i class="fas fa-trash"></i></button> 
      <!-- <button class="btn btn-sm btn-danger" th:onclick="'javascript:productInActivate(' + ${aproduct.productId} + ');'" id="disableId"  > Disable</button>  -->
      <!-- Default disabled -->

      
     
    </td>
 

</tr>

  
</tbody>

</table>
</div>


    </div>
    <script>




$(document).ready(function(){
 
//   let toogled= boolean;
// firstFuntion(){}  
// secondFuntion(){}
//   toggle()  {

  // return this.toggled ? this.firstFuntion() : this.secondFuntion();

//}

});



function categoryEdit(id){
var categoryId = id;
//alert(categoryId);

window.location.replace("/MEDICARE/category/edit?editId="+categoryId);

}
function categoryDelete(id){
var categoryId = id;
//alert(categoryId);

//alert(" Are you sure to delete this Category Master as it will delete all associated with products?.")
if (confirm("Are you sure to delete this Category Master as it will delete all associated with products?.")) {

  window.location.replace("/MEDICARE/category/delete?deleteId="+categoryId);

}

}

function productEdit(id){
var productId = id;
//alert(productId);
window.location.replace("/MEDICARE/products?editId="+productId);

}

function productInActivate(id){
var productId = id;
//alert(productId);
window.location.replace("/MEDICARE/products/disable?disableId="+productId);
//$("#activateId").css
$('#disableId').css('display', 'none');
$('#enableId').css('display', 'block');

}

function productActivate(id){
var productId = id;
//alert(productId);
window.location.replace("/MEDICARE/products/enable?enableId="+productId);
$('#enableId').css('display', 'none');
$('#disableId').css('display', 'block');

}

function productDelete(id){

  if(confirm("Are you sure to delete this Product: "+ id + "?")){
var productId = id;
//alert(productId);
window.location.replace("/MEDICARE/products/delete?deleteId="+productId);
}
// $('#enableId').css('display', 'none');
// $('#disableId').css('display', 'block');

}


// function delete_datas(id, tablename)
//                                                             {
//                                                                 if (confirm("Are you sure ?") == true) {
//                                                                     $('#loading_gif').show();
//                                                                     $.post("dashboard.php",
//                                                                             {
//                                                                                 deleterid: id,
//                                                                                 tablenames: tablename
//                                                                             },
//                                                                             function (data, status) {
//                                                                                 console.log(data);
//                                                                                 if (data == "yes") {
//                                                                                     window.location.replace("dashboard.php?msg=4");
//                                                                                 }
//                                                                             });
//                                                                 }
//                                                             }


</script>

</body>

</html>