<!DOCTYPE html>

<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<link rel ="stylesheet"  th:href= "@{/css/login.css}"> 

<body>

    <nav th:replace="layouts :: navBar"></nav>
<div class="container">

	<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="/images/brand1.jpg"  class="logo" style= "margin-left: 100px; width: 300px;"> </div>     
                                   <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="/images/banner.jpg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                 
                    <form action="/MEDICARE/admin/changePassword"   method="post" >
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">User Name</h6>
                        </label> <input class="mb-4" type="text" name="username" placeholder="Enter Admin Name"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Current Password</h6>
                        </label> <input type="password" name="currentPassword" placeholder="Enter Password"> </div>
                        

                        <h4 th:style="${currentusernamepasswordmismatch== null} ? 'display:none' : 'display:block' ">  <span  style="color: red;"> Current Admin name/Password Mismatch </span></h4>

                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">New Password</h6>
                        </label> <input type="password" name="newPassword" placeholder="Enter New password"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm"> Confirn New Password</h6>
                        </label> <input type="password" name="confirmPassword" placeholder="Confirn New Password"> </div>

                        <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm" th:each="value : ${passwordsNotEqual}"  style="color:red" > Passwords are not matching</h6>
                          
                        </label>  </div>

                  <!-- <h4 th:style="${passwordsNotEqual== null} ? 'display:none' : 'display:block' ">  <span  style="color: red;"> Allahuakbar</span></h4> working -->

                      
                   
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Change Password</button> </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <!-- <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div> -->
        </div>
    </div>
</div>
   
   
   
    </div>	

</body>

</html>