<!DOCTYPE html>

<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>


<body>

    <nav th:replace="layouts :: userNavBar" ></nav>
    <div > category details
     </div>
     <hr>
<div class="container" style="margin-top:5vh;">

    <div class="row">
        <div class="col-md-3" style="border: 1px solid black; border-radius:5px; height:50vh">

            <div style="height: 40vh;">
            <img src="" alt="product Image" >
           </div>
            <div class = "row"style="height: 10vh;">
                <div class="col-md-3" style="border: 1px solid black; border-radius:5px; margin-left: auto;margin-right: auto; margin-bottom:3px;"></div>
                <div class="col-md-3" style="border: 1px solid black; border-radius:5px;  margin-left: auto;margin-right: auto; margin-bottom:3px;"></div>
                <div class="col-md-3" style="border: 1px solid black; border-radius:5px; margin-left: auto;margin-right: auto; margin-bottom:3px;"></div>
            </div>
        </div>
        <div  class = "col-md-6"style="margin-top:2vw;margin-left:2vw;border: 1px solid black;border-radius:5px;">
            <div>
            <h3>Product name</h3>
            
            <h4>Company name</h4>
            
            <h5>Amount in rupees</h5>
           </div>
            <hr>
            <div>
                <h6>Available variant</h6>
                <div class="row">
                    <div>
                        First variant
                    </div>
                    <div>
                        Sceond variant
                    </div>
                    <div class="">
                        <button class="btn btn-primary" style="margin-left: 10vw"> Add to Cart</button>
                    </div>

                </div>
            </div>
         
        </div>
      
        <div class="col-md-2 col-sm-12" style="background-color: aqua; height: 50vh;margin-left:1vw; border: solid 1px black; border-radius: 5px;">
        <h5> Offers</h5>
      

        </div>


    </div>



    </div>

</body>

</html>