
          
         
<h6>product count saved</h6>
            
            
                <!-- <div class="col-md-3" style=" border-radius: 10px; height:50vh; margin:3vw;" th:each="aproduct: ${productList}">

                    <a > <img type="image/webp" th:srcset="@{${'/'+aproduct.image}}" alt=" Madicine image" style="height: 100%; width: 100%; border-radius:10px;" th:onclick="'javascript:showProductPage(' + ${aproduct.productId} + ');'"/>
                    

                    </a>

                </div> -->
                <!-- <div class="col-md-3" style="background-color: rgb(46, 78, 219);  border-radius: 5px; height:50vh;margin:3vw;">
                    
                </div>
                <div class="col-md-3" style="background-color: rgb(134, 207, 15);  border-radius: 5px;height:50vh;margin:3vw;">
                    
                </div> -->
              
              