
          
         

            
            
                <!-- <div class="col-md-3" style=" border-radius: 10px; height:50vh; margin:3vw;" th:each="aproduct: ${productList}">

                    <a > <img type="image/webp" th:srcset="@{${'/'+aproduct.image}}" alt=" Madicine image" style="height: 100%; width: 100%; border-radius:10px;" th:onclick="'javascript:showProductPage(' + ${aproduct.productId} + ');'"/>
                    

                    </a>

                </div> -->
                <!-- <head th:replace="layouts :: header"></head> -->
            
              
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 card" style=" border-radius: 10px; height:30vh; margin:3vw; background-color:#007BFF" th:each="aproduct: ${productList}">
                    <div class="card-body" style="padding: 0px;">
                        <!-- <5 class="card-title align-self-center" th:text="${aproduct.productName}"> </h5> -->
                    <a > <img type="image/webp" class="ccc" th:srcset="@{${'/'+aproduct.image}}" alt=" Madicine image" style="height: 100%; width: 100%; border-radius:10px;" 
                    th:onclick="'javascript:showProductPage(' + ${aproduct.productId} + ');'" id="imageId" />
                               
                   </a>
                   </div>
                   </div>