<!DOCTYPE html>

<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    	
    	
    <title>Medicare </title>
</head>


<nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:100px;">
    <a class="navbar-brand" href="#">MEDICARE</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
           
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            style="width: 50vw;">
            <ul class="navbar-nav">
                <li class="nav-item active" style="float:right">
                  <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>

           
         
            
         <!--   <a class="nav-item nav-link" th:href="@{/classes/new}">Classes</a>
            <a class="nav-item nav-link" th:href="@{/teachers/new}">Teachers</a>
            <a class="nav-item nav-link" th:href="@{/subjects/new}">Subjects</a>  -->
        </div>
         <div class="navbar-nav " style="float: right;">
          <a class="nav-item nav-link" th:href="@{/login/new}" style="float:right">Login</a></div>
    </div>
</nav>
<nav th:fragment="userNavBar" class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:100px;">
    <a class="navbar-brand" href="#">MEDICARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            <ul class="navbar-nav" style="float:right">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
             
        </div>
        <div class="navbar-nav">
            
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              style="width: 50vw;">
        </div>
    </div>
</nav>
<nav th:fragment="adminNavBar" class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:100px;">
    <a class="navbar-brand" href="#">MEDICARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
           
             
             <!-- <a class="nav-item nav-link active" th:href="@{/admin/add-products}">Add MedicalProducts </a> -->

             <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-item nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:style="${session.userName!= null} ? 'display:block' : 'display:none'">
                  <a class="nav-item nav-link active" th:href="@{/admin/add-madicine}">Add Medicine </a>
                </li>
                <li class="nav-item" th:style="${session.userName!= null} ? 'display:block' : 'display:none'">
                  <a class="nav-item nav-link active" th:href="@{/admin/manage-password}">Change Password </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
        </div>

        <div  style="float: right;">
          <ul class="navbar-nav">
           
            <li class="nav-item" th:style="${session.userName== null} ? 'display:block' : 'display:none'">
              <a class="nav-item nav-link active" th:href="@{/admin/}" >Login </a>
            </li>
            <li class="nav-item" th:style="${session.userName!= null} ? 'display:block' : 'display:none'">
              <a class="nav-item nav-link active" th:href="@{/admin/logout}">Logout </a>
            </li>
          
          </ul>
        </div>
    </div>
</nav>


</html>