<!DOCTYPE html>

<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<link rel ="stylesheet"  th:href= "@{/css/order-summary.css}"> 

<body>

    <nav th:replace="layouts :: navBar" ></nav>
<div class="container-fluid">

<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10">
            <div class="card shadow-lg ">
                <div class="row p-2 mt-3 justify-content-between mx-sm-2">
                    <div class="col">
                        <p class="text-muted space mb-0 shop"> Shop No.78618K</p>
                        <p class="text-muted space mb-0 shop">Store Locator</p>
                    </div>
                    <div class="col">
                        <div class="row justify-content-start ">
                            <div class="col"> <img class="irc_mi img-fluid cursor-pointer " src="https://i.imgur.com/jFQo2lD.png" width="70" height="70"> </div>
                        </div>
                    </div>
                    <div class="col-auto"> <img class="irc_mi img-fluid bell" src="https://i.imgur.com/uSHMClk.jpg" width="30" height="30"> </div>
                </div>
                <div class="row mx-auto justify-content-center text-center">
                    <div class="col-12 mt-3 ">
                        <nav aria-label="breadcrumb" class="second ">
                            <ol class="breadcrumb indigo lighten-6 first ">
                                <li class="breadcrumb-item font-weight-bold "><a class="black-text text-uppercase "  th:href="@{/MEDICARE/}"><span class="mr-md-3 mr-1">BACK TO SHOP</span></a><i class="fa fa-angle-double-right " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" href="#shoppingBag"><span class="mr-md-3 mr-1">SHOPPING BAG</span></a><i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                                <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase active-2" href="#checkout"><span class="mr-md-3 mr-1">CHECKOUT</span></a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-header pb-0">
                                <h2 class="card-title space " id="checkout">Checkout</h2>
                                <p class="card-text text-muted mt-4 space">SHIPPING DETAILS</p>
                                <hr class="my-0">
                            </div>
                            <div class="card-body">
                                <!-- <div class="row justify-content-between">
                                    <div class="col-auto mt-0">
                                        <p><b>BBBootstrap Team Vasant Vihar 110020 New Delhi India</b></p>
                                    </div>
                                    <div class="col-auto">
                                        <p><b>BBBootstrap@gmail.com</b> </p>
                                    </div>
                                </div> -->
                                <div class="row mt-4">
                                    <div class="col">
                                        <p class="text-muted mb-2">PAYMENT DETAILS</p>
                                        <hr class="mt-0">
                                    </div>
                                </div>
                                <form  action="/MEDICARE/payment/card" method="POST" th:object="${paymentCardFormData}">
                                <div class="form-group"> <label for="NAME" class="small text-muted mb-1">NAME ON CARD</label> <input type="text" class="form-control form-control-sm" name="nameOnCard" id="nameOnCard" aria-describedby="helpId" placeholder="Name On Card" th:field="*{nameOnCard}"> </div>
                                <div class="form-group"> <label for="NAME" class="small text-muted mb-1">CARD NUMBER</label> <input type="text" class="form-control form-control-sm" name="cardNumber" id="cardNumber" aria-describedby="helpId" placeholder="4534 5555 5555 5555" oninput="this.value=this.value.replace(/[^\d]/,' ')" maxlength="16" th:field="*{cardNumber}"> </div>
                                <div class="row no-gutters">
                                    <div class="col-sm-6 pr-sm-2">
                                        <div class="form-group"> <label for="NAME" class="small text-muted mb-1">VALID THROUGH</label> <input type="text" class="form-control form-control-sm" name="validThrough" id="NAME" aria-describedby="helpId" placeholder="06/21" th:field="*{validThrough}"> </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"> <label for="NAME" class="small text-muted mb-1">CVC CODE</label> <input type="text" class="form-control form-control-sm" name="cvcCode" id="NAME" aria-describedby="helpId" placeholder="cvc" oninput="this.value=this.value.replace(/[^\d]/,'')" maxlength="3" th:field="*{csvNumber}"> </div>
                                    </div>
                                </div>
                                <div class="row mb-md-5">
                                    <div class="col"> <a th:href="@{/cart/success}" th:each=" total: ${sumTotal}"> <button type="submit" name="" id="" class="btn btn-lg btn-block " th:text="PURCHASE + ${total}" ></button></a> </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4 mb-2 space">YOUR ORDER <span class=" small text-muted ml-2 cursor-pointer">EDIT SHOPPING BAG</span> </p>
                                <hr class="my-2">
                            </div>
                            <div class="card-body pt-0">
                                
                                <div class="card-body pt-0">
                                <div class="">

                                    <div th:each="cart : ${cartEmpty}">

                                        <h6 th:text="${cart}"></h6>
                                        <a class="btn btn-outline-primary" th:href="@{/MEDICARE/}">  Go to Shop  </a>

                                    </div>

<table class="table " style="padding: 0;margin: 0;" th:each="aproduct : ${productCountList}">
   
    <tbody>
        <tr >

            <td>
                <div class=" pl-0 flex-sm-col col-auto my-auto " >
                   <button class="btn btn-sm btn-danger" th:onclick="|deleteProduct('${aproduct.productId}',${aproduct.countTableId})|" th:value="${aproduct.count}"> <b> - </b></button>
                   <!-- <button class="btn btn-sm btn-danger" th:onclick="'javascript:deleteProduct('${aproduct.productId}',${aproduct.countTableId});'" th:value="${aproduct.count}"> <b> - </b></button> -->
               </div>
              </td>
            <td style="width: 5vw;">
                <!-- <div id="image" class="media flex-column">
                
            </div> -->

            <div class="media flex-sm-row"> 
                <a th:href="@{${'/MEDICARE/products/'+aproduct.productId}}"><img type="image/webp" class="ccc" th:srcset="@{${'/'+aproduct.mainImage}}" alt=" Madicine image"  width="75" height="75" style="border-radius:5px;" /></a>
                <div class="media-body my-auto">
                    <div class="row ">
                        <div class="col" style="margin-left: 1vw;padding: 1vh 0.5vw;">
                            <p class="mb-0"><b th:text="${aproduct.madicineName}"></b></p><small class="text-muted" th:text="${aproduct.brandName}"></small>
                        </div>
                    </div>
                </div>
            </div>
          </td>
          <td style="width:5vw;">
            <div id="ajax_div">
                                    
                <p class="boxed-1" >
                     <!-- <input type="number" name="productCount" id="inputId" 
                    th:onchange="'javascript:changeCount(' + ${aproduct.countTableId}+ ');'" th:value="${aproduct.count}" style="border:none; color:blue;width:3vw;" >  -->
                     <input type="number" name="productCount" id="inputId" 
                    th:onchange="'javascript:changeCount(' + ${aproduct.productId}+ ');'" th:value="${aproduct.count}" style="border:none; color:blue;width:3vw;" > 
                    <input type="hidden" name="userId" th:value="${session.userId}"  id="userId">
                    <input type="hidden" name="theCart" th:value="${session.theCart}" id="theCart">
                    <input type="hidden" name="countTableId" th:value="${aproduct.countTableId}" id="countTableId">
                
                </p>
                                    
             <!--    <p class="boxed-1" > <input type="number" name="productCount" id="inputId" 
                    oninput="changeCount(this.val())" th:value="${aproduct.count}" style="border:none; color:blue;width:3vw;"> 
                    <input type="hidden" name="userId" th:value="${session.userId}"  id="userId">
                    <input type="hidden" name="theCart" th:value="${session.theCart}" id="theCart">
                    <input type="hidden" name="countTableId" th:value="${aproduct.countTableId}" id="countTableId">
                
                </p> -->

                   

            </div>
          </td>
          <td style="width:5vw;">
            <div >
                <p style="width:3vw;"><b th:text="${aproduct.multipliedPrice}"></b></p>
           </div>
          </td>
      
           
        </tr>
    </tbody>


</table>


</div>

                         
                                </div>
                                </div>



                                <hr class="my-2">
                            
                                <hr class="my-2">
                         
                                <div class="row ">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p class="mb-1"><b>Total Amount</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto"th:each=" total: ${sumTotal}">
                                                <p class="mb-1"><b th:text="${total}"></b></p>
                                            </div>
                                        </div>
                                        <!-- <div class="row justify-content-between">
                                            <div class="col">
                                                <p class="mb-1"><b>Shipping</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>0 SEK</b></p>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1"><b>537 SEK</b></p>
                                            </div>
                                        </div> -->
                                        <hr class="my-0">
                                    </div>
                                </div>
                                <div class="row mb-5 mt-4 ">
                                    <div class="col-md-7 col-lg-6 mx-auto"><button type="button" class="btn btn-block btn-outline-primary btn-lg">ADD GIFT CODE</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <!-- <th:block th:with="variable = 10, controllerVar = 12, var = ${variable * controllerVar}">
    <p th:text="${var}"></p>
</th:block> -->

    <script>
$(document).ready(function(){
  
  // window.location.reload();


});


    // function changeCount(productId){

    //     alert(productId);

    // }

    function changeCount(productId){


        window.location.replace("/MEDICARE/products/"+productId);   

// //alert("function call");
// var cartId = $("#theCart").val();
// var userId = $("#userId").val();
// var count = $("#inputId").val();
// //var count = $(this).siblings('#inputId').val();
// //var countTableId = $("#countTableId").val();

// //alert(count);

// console.log(cartId);
// console.log(userId);
// //console.log(productId);

// $.get("/MEDICARE/cart/changeCount",
// // $.post("home/showMadicines",
//                                                                     {
//                                                                         cartId: cartId,
//                                                                         userId:userId,
//                                                                        // productId:productId,
//                                                                         changedCount:count,
//                                                                         countTableId:countTableId
//                                                                       //  tablenames: tablename
//                                                                     },
//                                                                    function (data, status) {

//                                                                     window.location.replace("/MEDICARE/cart/cart");
                                                                       
//                                                                         }  
//                                                                     );

}


    function deleteProduct(productId,countTableId){

       if( confirm("Are you sure to remove this Product?")){

        $.get("/MEDICARE/cart/removeProduct",
// $.post("home/showMadicines",
                                                                    {
                                                                       // cartId: cartId,
                                                                        //userId:userId,
                                                                        productId:productId,
                                                                       // changedCount:count,
                                                                        countTableId:countTableId
                                                                      //  tablenames: tablename
                                                                    },
                                                                   function (data, status) {

                                                                    window.location.replace("/MEDICARE/cart/cart");
                                                                    window.location.reload();
                                                                       
                                                                        }  
                                                                    );

}


       }


    
</script>


</body>

</html>